# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Alembic cache
alembic/versions/__pycache__/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

README.txt